@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes loading-opacity{
    0% , 100%{
        opacity: 1;
    }

    25% , 75%{
        opacity: 0.5;
    }

    50%{
        opacity: 0.1;
    }

    
    0%{
        color: black;
    }

    20%{
        color: red;
    }

    40%{
        color: blue;
    }

    60%{
        color: green;
    }

    80%{
        color: pink;
    }

    100%{
        color: rgb(11, 143, 187);
    }

}